<h1>投稿ページ</h1>

<div> 料理を投稿する</div>
<%= form_with model: @recipe, local: true do |f| %>
  <div>料理名</div>
  <%= f.text_field :name, placeholder: "料理名" %>必須
  <div>料理の画像</div>
  <%= f.file_field :image, id:"item-image" %>必須
  <div>料理の説明</div>
  <%= f.text_field :caption, placeholder: "説明文" %>必須
  <div>調理時間</div>
  <%= f.text_field :cooking_time, placeholder: "調理時間(分)" %>任意<br>
  <%= f.submit "投稿する" %>
<% end %>

<br><br><%= link_to "投稿せずにトップページへ戻る", root_path %>